* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.section-container {
    width: 100%;
    padding: 15px;
}

.section {
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid black;
    margin: 10px;
    padding: 40px 10px 10px 10px;
    float: left;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d59898;
    border: 1px solid black;
    padding: 5px 20px;
    font-size: 125%;
}

.chicken .section-title {
    background-color: #d59898;
}

.beef .section-title {
    background-color: #c14543;
    color: white;
}

.sushi .section-title {
    background-color: #e5d198;
}

@media (min-width: 992px) {
    .section {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 45%;
    }
    .sushi {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}